.places__article:not(:last-of-type) {
  margin-bottom: 80px;
}

@media screen and (max-width: 1023.98px) {
  .places__article:not(:last-of-type) {
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 767.98px) {
  .places__article:not(:last-of-type) {
    margin-bottom: 50px;
  }
}