.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 92.5%;
}

@media screen and (max-width: 1279.98px) {
  .header {
    width: 90.63%;
  }
}

@media screen and (max-width: 1023.98px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    width: 90%;
  }
}