.cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  min-height: 740px;
  width: 92.5%;
  z-index: 1;
}

@media screen and (max-width: 1279.98px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023.98px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 767.98px) {
  .cover {
    min-height: 200px;
  }
}

.cover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity .4s ease-in-out;
}

.cover:hover::after {
  opacity: 0.8;
}