.comments__content-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 108.9%;
  text-align: center;
  margin: 0 auto 48px auto;
  max-width: 800px;
}

@media screen and (max-width: 1023.98px) {
  .comments__content-title {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767.98px) {
  .comments__content-title {
    font-size: 32px;
    line-height: 35px;
  }
}