.place {
  display: grid;
  grid-template-areas: 
    "title website"
    "image text";
  column-gap: 40px;
  row-gap: 48px;
}


@media screen and (max-width: 1279.98px) {
  .place {
    column-gap: 32px;
    grid-template-columns: 440px 456px;
    justify-content: center;
  }
}

@media screen and (max-width: 1023.98px) {
  .place {
    column-gap: 28px;
    grid-template-columns: 340px 352px;
  }
}

@media screen and (max-width:767.98px) {
  .place {
    grid-template-areas: 
    "title"
    "website"
    "image"
    "text";
    row-gap: 31px;
    grid-template-columns: 100%;
  }
}